:root {
	--brig-orange: #f35b04;
}

@font-face {
	font-family: Mont;
	src: url(../fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}

* {
	box-sizing: border-box;
	font-family: Mont, sans-serif;
	scroll-behavior: smooth;
}

body,
html {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: Mont, sans-serif;
	font-weight: 100;
	color: black;
	background: white;
}

.gallery-cont {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 115px;
}

.gallery {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-between;
	flex: 2;
}

.gallery-col {
	width: 32.5%;
}

.gallery-img {
	margin-bottom: 1.5%;
	display: block;
	cursor: pointer;
}

.note-cont {
	padding-left: 2%;
	flex: 1.2;
	top: 0;
}

.note {
	height: 50vh;
	color: black;
	position: sticky;
	top: 115px;
	height: min-content;
}

.title-cont {
	border-bottom: solid black 4px;
	margin: 0;
	padding-bottom: 15px;
	margin-bottom: 50px;
	width: min-content;
	height: min-content;
}

.note-title {
	font-size: 2.3vmax;
	padding: 0;
	margin: 0;
}

.words {
	font-size: 1.3vmax;
	color: #666;
	line-height: 2.8vmax;
	font-variation-settings: "wght" 300;
}

.image-modal {
	background-color: rgba(0, 0, 0, 0.75);
	backdrop-filter: blur(6px);
	width: 100%;
	height: 100vh;
	position: fixed;
	opacity: 0;
	pointer-events: none;
	z-index: 20;
	margin: 0;
	top: 0;
	transition: 0.2s;
}

.modal-image {
	margin-left: 50%;
	margin-top: 50vh;
	transform: translate(-50%, -50%);
}

.pricing-table {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 2vmax;
}

.pricing-table td,
.pricing-table th {
	border: 1px solid #ddd;
	padding: 12px;
	text-align: center;
}

.pricing-table th {
	padding-top: 12px;
	padding-bottom: 12px;
	background-color: black;
	color: white;
	font-size: 1.6vmax;
}

.pricing-table td {
	color: black;
	font-variation-settings: "wght" 200;
	font-size: 1.6vmax;
}

.pricing-table tr:nth-child(even) {
	background-color: #f2f2f2;
}

.pricing-table tr:hover {
	background-color: #ddd;
}

.warning {
	font-size: 1.6vmax;
	font-variation-settings: "wght" 500;
	color: black;
}

.warning a {
	text-decoration: none;
	color: var(--brig-orange);
	font-variation-settings: "wght" 700;
	transition: all 0.3s;
}

.warning a:hover {
	color: #f5c1a2;
}

.grad-book-btn {
	color: white;
	background-color: black;
	font-size: 1.6vmax;
	font-variation-settings: "wght" 600;
	padding: 0.5vmax 1vmax 0.5vmax 1vmax;
	border: 3px solid black;
	text-decoration: none;
	border-radius: 5px;
}

.grad-book-btn:hover {
	background-color: white;
	color: black;
}

#filler {
	height: 115px;
	margin-top: -85px;
}

.faqs {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.faq-title {
	margin-bottom: 2vmax;
}

.wrap-collabsible {
	width: 70%;
	margin-bottom: 1.2rem 0;
	margin-bottom: 1vmax;
}

input[type="checkbox"] {
	display: none;
}

.lbl-toggle {
	display: block;
	font-weight: bold;
	font-size: 1.5rem;
	text-transform: uppercase;
	text-align: left;
	padding: 1rem;
	color: white;
	background: black;
	cursor: pointer;
	transition: all 0.25s ease-out;
	border-radius: 7px;
}

.lbl-toggle:hover {
	color: #777;
}

.lbl-toggle::before {
	content: " ";
	display: inline-block;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-left: 5px solid currentColor;
	vertical-align: middle;
	margin-right: 0.7rem;
	transform: translateY(-2px);
	transition: transform 0.2s ease-out;
}

.collapsible-content {
	max-height: 0px;
	overflow: hidden;
	transition: max-height 0.25s ease-in-out;
}

.collapsible-content .content-inner {
	background: #dddddd;
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
	padding: 0.5rem 5rem;
	font-size: 1.7vmax;
	line-height: 2.7vmax;
	font-variation-settings: "wght" 300;
}

.toggle:checked + .lbl-toggle::before {
	transform: rotate(90deg) translateX(-3px);
}

.toggle:checked + .lbl-toggle + .collapsible-content {
	max-height: 100vh;
}

.toggle:checked + .lbl-toggle {
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.orangify {
	color: var(--brig-orange);
	text-decoration: none;
}

.orangify:hover {
	color: white;
	text-shadow: 0.5px 0.5px 5px #999;
}

@media (max-width: 1024px) {
	.gallery-cont {
		flex-direction: column-reverse;
		justify-content: flex-start;
		align-items: center;
	}

	.note-cont {
		padding-left: 0;
	}

	.note {
		position: initial;
		padding-bottom: 2vmax;
	}

	.title-cont {
		border-bottom: solid black 2px;
		padding-bottom: 10px;
		margin-bottom: 10px;
	}

	.words {
		font-variation-settings: "wght" 400;
	}

	.wrap-collabsible {
		width: 90%;
	}

	.collapsible-content .content-inner {
		font-size: 2vmax;
		line-height: 4.2vmax;
		padding: 1rem 3rem;
	}

	.lbl-toggle {
		font-size: 1.2rem;
		line-height: 2rem;
		text-align: center;
	}
}
